/* menu */
header{
    width: 100%;
    height: 80px;
    margin-top: 0%;
    top: 1%;
    position: fixed;
    z-index: 1;
  }
  
  .container_menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .logo{
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo img{
    width: 250px;
  }
  
  .menu{
    display: flex;
    align-items: center;
  
  }
  
  .menu ul{
    display: flex;
  }
  
  .menu ul li{
    list-style: none;
    margin-left: 36px;
    
  }
  
  .menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(209, 207, 207);
    text-transform: uppercase;
  }
  
  #selected{
    background: #00bc9a;
    padding: 10px 40px;
    border-radius: 50px;
    color: #00121a;
  }
  
  #selected:hover{
    color: white;
  }
  
  
  .menu nav img{
    display: none;
  }
  
  .menu #btn-menu {
    display: none;
  }
  /* menu final */

  /* text */
  * {
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }
  
  body{
    background-color: #00121a;
  }
  
  .main{
    height:95vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #00bc9a;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
  }
  

  /* text final*/


  /* img movimiento */
.svg img{
    position: fixed;
    left: 37%;
    width: 30%;
    top: -5%;
    animation: move 4s linear infinite;
}

@keyframes move {
    0%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(25px);
    }
}


/* img movimiento final */


/* responsive  */


@media screen and (max-width:1200px){
  .container_menu{
    position: fixed;
    bottom: 40%;
    right: 15%;
  }
  .svg img{
    top: 0%;
    width: 450px;
    left: 33%;
  }
}
@media screen and (max-width:860px){
  .menu nav{
      position: fixed;
      top: 0;
      right: -250px;
      width: 150px;
      height: 100vh;
      padding: 40px;
      z-index: 1;
      transition: all 300ms;
      background-color: #00121a;
  }

  .container_menu{
    position: fixed;
    bottom: 40%;
    right: 15%;
  }
  .menu ul{
      flex-direction: column;
      margin-top: 40px;

  }

  .menu ul li{
      margin-top: 30px;
      margin-left: 0px;
  }

  #selected{
      background: none;
      padding: 0px;
      border-radius: none;   
      color: #00bc9a;
   }

   .menu nav img{
       display: block;
       width: 200px;
   }

   #back_menu{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       background-color: rgba(0,0,0,0.5);
       display: none;
   }

   .menu #btn-menu {
       width: 50px;
       height: 50px;
       background: #00bc9a;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 24px;
       border-radius: 50px;
       cursor: pointer;
   }

   .menu #btn-menu:hover {
      background: white;
  }

  .svg img{
    top: 0%;
    width: 450px;
    left: 25%;
  }
}

@media screen and (max-width:480px){
  .container_menu{
      position: fixed;
      bottom: 40%;
      right: 15%;
    }
  .svg img{
      top: 5%;
      width: 350px;
      left: 5%;
    }
}

@media screen and (max-width:345px){
  .container_menu{
      position: fixed;
      bottom: 40%;
      right: 15%;
    }
  .svg img{
      top: 5%;
      width: 350px;
      left: 5%;
    }
}
/* responsive final*/