*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container_menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 250px;
}

.menu{
    display: flex;
    align-items: center;

}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
    
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

#selected{
    background: #00bc9a;
    padding: 10px 40px;
    border-radius: 50px;
    color: #00121a;
}

#selected:hover{
    color: white;
}

.menu nav img{
    display: none;
}

.menu #btn-menu {
    display: none;
}

/* responsive*/

@media screen and (max-width:1200px){
    header{
        padding: 40px;
    }
}

@media screen and (max-width:720px){
    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
        background-color: #00121a;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;

    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0px;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;   
        color: #00bc9a;
     }

     .menu nav img{
         display: block;
         width: 200px;
     }

     #back_menu{
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         background-color: rgba(0,0,0,0.5);
         display: none;
     }

     .menu #btn-menu {
         width: 50px;
         height: 50px;
         background: #00bc9a;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 24px;
         border-radius: 50px;
         cursor: pointer;
     }

     .menu #btn-menu:hover {
        background: white;
    }
}
/* responsive final*/


/* slider*/
.container {
    position: relative;
    background: #aad5f6;
}
.slide-1 {
    background: url('../img/FRACTURE.jpg');
}
.slide-2 {
    background: url('../img/BREEZE.png');
}
.slide-3 {
    background: url('../img/ICEBOX.png');
}
.slide-4 {
    background: url('../img/BIND.png');
}
.slide-5 {
    background: url('../img/HAVEN.jpg');
}
.slide-6 {
    background: url('../img/SPLIT.jpg');
}
.slide-7 {
    background: url('../img/ASCENT.jpg');
}

.slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.caption {
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}
.caption h3 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 18px;
}
.caption p {
    max-width: 600px;
    width: 90%;
    margin: 0px auto;
    color: #ccc;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
}
.arrow img {
    width: 50px;
}
.arrow:hover {
    background: rgba(0, 0, 0, .4);
}
.l {
    left: 0;
}
.r {
    right: 0;
}   

/* slider final*/
